@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "一日實習生電商網頁";
}
<div class="col-sm-12 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-8">
            <div class="view-product">
                <img src="@ViewBag.Product.ImageURL" alt="" />
            </div>
            

        </div>
        <div class="col-sm-4">
            <div class="product-information">
                <!--/product-information-->
                <h2>@ViewBag.Product.ProductName</h2>
                <p><b>@ViewBag.Product.Brand</b></p>
                <div>
                    <img src="~/images/product-details/rating.png" alt="" />
                </div>
                <div>
                    <span class="product-price" id="price">總價格 $@ViewBag.Product.Price</span>
                </div>
                <div>
                    <span>
                        <label>購買數量:</label>
                        <input type="number" id="buyQuantity" value="1" min="1" max="@ViewBag.Product.Inventory" onChange="updateInput('@ViewBag.Product.Price')"/>
                        <button type="button" class="btn btn-fefault cart" id="buy">
                            <i class="fa fa-shopping-cart"></i>
                            購買
                        </button>
                    </span>
                </div>
                @{
                    if(ViewBag.Product.Inventory <= 0){
                        <p><b>存貨數量: </b><b class="warn">暫無存貨</b></p>
                    }
                    else{
                        <p><b>存貨數量: </b><b class="second-info">@ViewBag.Product.Inventory</b></p>
                    }
                }
                @* <p><b>存貨數量: @ViewBag.Product.Inventory</b></p> *@
            </div><!--/product-information-->
        </div>
        <div id="similar-product" class="col-sm-7 carousel slide" data-ride="carousel" style="margin:auto">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @{ var quantity = 0;}
                @foreach (var picture in ViewBag.Product.Thumbnails)
                {
                    if (quantity == 0)
                    {
                        <div class="item active" style="padding-left: 170px;">
                            <a href=""><img src="@picture" width="100" height="100"></a>
                        </div>
                    }
                    else
                    {
                        <div class="item" style="padding-left: 170px;">
                            <a href=""><img src="@picture" width="100" style="left:auto;right:0"  alt=""></a>
                        </div>
                    }
                    quantity++;
                }

            </div>
            <!-- Controls -->
            <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>

        </div>
        
    </div><!--/product-details-->
    <div>
        <blockquote class="head-line">@ViewBag.Product.Remark</blockquote>
    </div>
    <div class="category-tab shop-details-tab">
        <!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#reviews" data-toggle="tab">評論 (@ViewBag.Reviews.Count)</a></li>
            </ul>
        </div>
        <div class="tab-content">
            @foreach (var review in ViewBag.Reviews)
            {
                var reviewTime = review.ReviewTime.ToString("hh:mm tt");
                var reviewDate = review.ReviewTime.ToString("yyyy/MM/dd");
                <div class="tab-pane fade active in reviews">
                    <div class="col-sm-12">
                        <ul>
                            <li><a href=""><i class="fa fa-user"></i>@review.Reviewer</a></li>
                            <li><a href=""><i class="fa fa-clock-o"></i>@reviewTime</a></li>
                            <li><a href=""><i class="fa fa-calendar-o"></i>@reviewDate</a></li>
                        </ul>
                        <p>@review.ReviewContent</p>
                    </div>
                </div>
            }
            <div class="tab-pane fade active in reviews">
                <form action="#">
                    <div class="col-sm-12">
                        <p><b>撰寫評論</b></p>
                    </div>
                    <span>
                        <input id="reviewer" type="text" placeholder="使用者名稱" required/>
                        <input id="reviewerEmail" type="email" placeholder="電子郵件" required/>
                    </span>
                    <textarea id="reviewContent" placeholder="你的評論內容" required></textarea>
                    @* <b>Rating: </b> <img src="~/images/product-details/rating.png" alt="" /> *@
                    <button type="submit" class="btn btn-default pull-right" onClick="onReviewSubmit()">
                        提交
                    </button>
                </form>
                <div id="reviewPoster" data-request-url='@Url.Action("SubmitReview")'></div>
            </div>
        </div>
    </div><!--/category-tab-->
</div>

<script src="~/js/Shopping/productDetail.js" asp-append-version="true"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script>
// 幫購買按鍵加入點擊的所需的function
$("#buy").on("click", 
()=>{
    // 購買時所要call的action
    let buyurl = '@Url.Action("Buy")';

    // 購買數量
    let num = $("#buyQuantity").val();

    //產品Id
    let productid = @ViewBag.Product.ProductId;

    // 將購買數量及產品Id包裝成一個物件
    let arg={
        ProductNumber : productid, 
        quantity: num
    }
    console.log(arg);

    // 若存貨小於購買數量則購買失敗
    if(num > @ViewBag.Product.Inventory){
        alert("購買數量超出庫存請重新選擇");
        return;
    }

    // 使用post來call controller中的購買action
    $.post(buyurl, arg,  (data)=>{
        console.log(data);
        alert("扣庫成功 - 已購買數量:"+String(data.deductionQuantity));
        window.location.reload();
    })
});
</script>