@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "一日實習生電商網頁";
}
<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="@ViewBag.Product.ImageURL" alt="" />
                <h3>ZOOM</h3>
            </div>
            

        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <h2>@ViewBag.Product.Product_Name</h2>
                <p>Web ID: 1089772</p>
                <div>
                    <img src="~/images/product-details/rating.png" alt="" />
                </div>
                <div>
                    <span class="product-price" id="price">總價格 $@ViewBag.Product.Price</span>
                </div>
                <div>
                    <span>
                        <label>購買數量:</label>
                        <input type="number" id="buy_quantity" value="1" min="1" max="@ViewBag.Product.Inventory" onChange="updateInput(100)"/>
                        <button type="button" class="btn btn-fefault cart" id="buy">
                            <i class="fa fa-shopping-cart"></i>
                            購買
                        </button>
                    </span>
                </div>
                <p><b>存貨數量: @ViewBag.Product.Inventory</b></p>
                <p><b>品牌: @ViewBag.Product.Brand</b></p>
            </div><!--/product-information-->
        </div>

        <div id="similar-product" class="col-sm-7 carousel slide" data-ride="carousel" style="margin:auto">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @{ var quantity = 0;}
                @foreach (var picture in ViewBag.Product.Thumbnails)
                {
                    if (quantity == 0)
                    {
                        <div class="item active" style="padding-left: 170px;">
                            <a href=""><img src="@picture" width="100" height="100"></a>
                        </div>
                    }
                    else
                    {
                        <div class="item" style="padding-left: 170px;">
                            <a href=""><img src="@picture" width="100" style="left:auto;right:0"  alt=""></a>
                        </div>
                    }
                    quantity++;
                }

            </div>
            <!-- Controls -->
            <a class="left item-control" href="#similar-product" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right item-control" href="#similar-product" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>

        </div>
        
    </div><!--/product-details-->

    <div class="category-tab shop-details-tab">
        <!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
            </ul>
        </div>
        <div class="tab-content">

            <div class="tab-pane fade active in" id="reviews">
                <div class="col-sm-12">
                    <ul>
                        <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                        <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                        <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p><b>Write Your Review</b></p>

                    <form action="#">
                        <span>
                            <input type="text" placeholder="Your Name" />
                            <input type="email" placeholder="Email Address" />
                        </span>
                        <textarea name=""></textarea>
                        <b>Rating: </b> <img src="~/images/product-details/rating.png" alt="" />
                        <button type="button" class="btn btn-default pull-right">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div><!--/category-tab-->
</div>

<script src="~/js/Shopping/productDetail.js" asp-append-version="true"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script>
$("#buy").on("click", 
()=>{
    let buyurl = '@Url.Action("Buy")'
    let num = $("#buy_quantity").val();
    let productid = @ViewBag.Product.ProductId;
    let arg={
        ProductNumber : productid, 
        quantity: num
    }
    console.log(arg);
    $.post(buyurl, arg,  (data)=>{
        console.log(data);
        alert("扣庫成功");
    })
});
</script>